<link href="~/css/ProfileStyle.css" rel="stylesheet" />
<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="~/ImageProfile/@ViewBag.userInformation.Photo" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@User.Identity.Name</h4>
                                <p class="text-muted font-size-sm">@ViewBag.userInformation.JobTitle</p>
                                <br />
                                @{
                                    var UserId = ViewBag.UserId;
                                }
                                @if (UserId == ViewBag.userInformation.UserId)
                                {
                                    <form style="display:inline" enctype="multipart/form-data" asp-area="Admin" asp-controller="UserInformation" asp-action="UpdateMyPhoto">
                                        <div class="btn-group">
                                            <button id="button" type="button" name="button" class="btn btn-primary btn" onclick="thisPhotoUpload();">Choose Photo</button>
                                            <input type="file" id="photo" name="MyPhoto" style="display:none;" />
                                            <button id="btnUpdatePhoto" type="button" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn">Follow</button>
                                    <button class="btn btn-primary btn">Message</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                            <span class="text-secondary">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                            <span class="text-secondary">bootbody</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userInformation.FirstName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userInformation.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userInformation.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Job Title</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userInformation.JobTitle
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">My Cv</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a class="btn btn-primary btn" target="_blank" asp-area="Admin" asp-controller="BdfOnBrowser" asp-action="Index">View My Cv</a>
                                <form style="display:inline" enctype="multipart/form-data" asp-area="Admin" asp-controller="UserInformation" asp-action="UpdateMyCv">
                                    <div class="btn-group">
                                        <button id="button" type="button" name="button" class="btn btn-primary btn" onclick="thisFileUpload();">Choose Cv</button>
                                        <input  type="file" id="file" name="MyCv" style="display:none;" />
                                        <button id="btnUpdateCv" type="button" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                                
                            @*<div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Update My Cv
                                </button>
                                <div class="dropdown-menu">
                                    <form enctype="multipart/form-data" style="display:inline" asp-area="Admin" asp-controller="UserInformation" asp-action="UpdateMyCv">
                                        <button id="button" type="button" name="button" class="btn btn-primary btn" style="width:100%" onclick="thisFileUpload();">Choose Cv</button>
                                        <input type="file" id="file" name="MyCv" style="display:none;" />
                                        <button id="button" type="submit" name="button" class="btn btn-primary btn-sm" style="width:100%">Change</button>
                                    </form>                                
                                </div>
                            </div>*@
                                
                                <a  class="btn btn-primary btn" asp-area="Admin" asp-controller="BdfOnBrowser" asp-action="DownloadFile" >Download my Cv</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" asp-area="Admin" asp-controller="UserInformation" asp-action="UpdateInformation"> Edit My Information </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Country</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userAdress.Country
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">City</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userAdress.City
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Street</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userAdress.Street
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Zip Code</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @ViewBag.userAdress.ZipCode
                            </div>
                        </div>
                        <hr>
                        
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info"  asp-area="Admin" asp-controller="UserInformation" asp-action="UpdateUserAddress">Edit My Adress</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function thisFileUpload() {
        document.getElementById("file").click();
    };
    function thisPhotoUpload() {
        document.getElementById("photo").click();
    };
    var file = document.getElementById("file");
    var photo = document.getElementById("photo");
    const btn = document.querySelector('#btnUpdateCv');
    const btn_phto = document.querySelector('#btnUpdatePhoto');
    const message = document.querySelector('#Message');
    
    btn.addEventListener('click', function (e) {
        if (file.files.length == 0) {
            alert("Please Choose New Cv Firstly !");
            e.stopPropagation();
        } else {
            document.getElementById("btnUpdateCv").type = "submit";
        }
    });
    btn_phto.addEventListener('click', function (e) {
        if (photo.files.length == 0) {
            alert("Please Choose New Photo Firstly !");
            e.stopPropagation();
        } else {
            document.getElementById("btnUpdatePhoto").type = "submit";
        }
    });
</script>